*{
    padding: 0;
    margin: 0;
}
body{
 
    background-image: url(images/images\ \(14\).jpeg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
  
}
.Menu-bar{
    background: rgb(0,100,0);
    text-align: center;
}
.Menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;

}
.Menu-bar ul li{
    width: 130px;
    margin: 15;
    padding: 15px;
}
.Menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .Menu-bar ul li:hover{
    background: #2bab0d;
    border-radius: 3px;
}
.Menu-bar .fa{
    margin-right: 8px;

}
.sub-menu-1{
    display: none;
}
.Menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15PX;
    margin-left: -15PX;
   

}
.Menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.Menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.Menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.Menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #ff3c00;
    border-bottom: 1px dotted #fff;
}
.fa-angle-right{
    float: right;


}

.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(88, 6, 221);
}

@media(max-width: 700px){

    .Menu-bar ul{
        display: block;
        text-align: left;

    }
    .Menu-bar .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        text-align: left;
        cursor: pointer;
    }
}











